<section>
  <h1>{{ titre|upper }}</h1>
  
  <form method="POST" action="admin?entite=genre&action=m&genre_id={{  genre.genre_id }}">

    <label>Nom</label>
    <input name="genre_nom" value="{{ genre.genre_nom }}">
    <span>&nbsp;{{ erreurs.genre_nom }}</span>

    <input type="hidden" name="genre_id" value="{{ genre.genre_id }}">

    <input type="submit" value="Envoyer">

  </form>

</section>