<section>
  <h1>{{ titre|upper }}</h1>
  
  <form method="POST" action="admin?entite=salle&action=a">

    <label>Numéro</label>
    <input name="salle_numero" value="{{ salle.salle_numero }}">
    <span>&nbsp;{{ erreurs.salle_numero }}</span>

    <label>Nombre de places</label>
    <input name="salle_nb_places" value="{{ salle.salle_nb_places }}">
    <span>&nbsp;{{ erreurs.salle_nb_places }}</span>

    <input type="submit" value="Envoyer">

</form>
  </div>
</section>